@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Pacifico&display=swap');

.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  min-height: 100vh;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-color: #b9cfba;
  font-family: 'Comfortaa', cursive;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:100vh;
  height:80%;
}

.homeicon {
  align-items: center;
  justify-content: center;
  height:100%;
}

.title {
  font-size: 30px;
  align-items: center;
  justify-content: center;
  color:rgb(60, 60, 60)
}

.img{
  align-items: center;
}

.input input {
  display: flex;
  flex-direction: column;
  background: transparent;
  border-radius: 20px;
  border-color: rgb(188, 185, 185);
  height: 3em;
  width: 18em;
  font-size: 20px;
  color:rgb(76, 77, 77);
  margin-top:0.5em;
  margin-bottom:1em;
  padding-left: 1em;
  font-family: 'Comfortaa', cursive;
}

.errormessage {
  font-size:20px;
  align-items: center;
  justify-content: center;
  margin-top:0.5em;
  margin-bottom:0.5em;
  color: rgb(221, 114, 60);
  padding-left: 1em;
}

.locationcont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.locationicon {
  height: 3em;
  padding:0.5em;
}

.location {
  font-size: 50px;
  color:rgb(74, 74, 74);
}

.temp {
  right:10p;
  color: rgb(83, 66, 45);
  font-size:58px;
  width:100%;
  margin-left: 10em;
}

.feel {
  color: rgb(99, 69, 30);
  font-size:18px;
  width:100%;
  margin-left: 10em;
}

.datacont {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10em;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: 2em;
}

.indexcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  color: rgb(255, 255, 255);
  font-size:18px;
  margin-bottom:0.7em;
}

.place {
  color: rgb(255, 251, 255);
  font-size:18px;
}

.highlowtemp {
  background-color: #FFFFFF;
  opacity: 0.8;
  padding:0.5em;
  color: rgb(72, 71, 70);
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  font-size:18px;
}

.lowtemp {
  color:rgb(86, 86, 86);
  margin-bottom:0.7em;
}

.hightemp {
  color:rgb(86, 86, 86);
}

.hightext, .lowtext {
  color:rgb(128, 128, 128);
}

.wind {
  background-color: #FFFFFF;
  opacity: 0.8;
  padding:0.5em;
  color: rgb(72, 71, 70);
  font-size:18px;
  display: flex;
  flex-direction: column;
  margin-right: 6em;
}

.windtext {
  color:rgb(128, 128, 128);
  margin-bottom:0.7em;
}

.winddata {
  color:rgb(86, 86, 86);
  font-size:22px;
}

.footer {
  font-size: 18px;
  align-items: center;
  margin: 6em;
  color:rgb(55, 55, 55)
}

/* Mobile */
@media (max-width: 700px) {
  .title {
    font-size: 26px;
  }
}

.description {
  font-size:14px;
  margin-bottom:0.7em;
  margin-right:2em;
}

.place {
  font-size:14px;
}

.temp {
  margin-left: 0.5em;
}

.feel {
  margin-left: 2em;
}

.footer{
  font-size:14px;
}



/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

